@font-face {
    font-family: 'NoContinue';
    src: url('../fontes/gomarice_no_continue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColdWarm';
    src: url('../fontes/Cold Warm.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 15px;
}
#bg{
    background-image: linear-gradient(90deg, #102535 10%, rgb(77, 64, 49));
    background-attachment: fixed;
}
#botaoLogin{
    font-size: 35px;
    color: #00b94b;
    font-family: 'NoContinue';
    text-decoration: underline;
    font-weight: normal;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
    margin: 35px;
    transition: 0.5s;
}
#botaoRegister{
    width: 60%;
    font-size: 35px;
    color: #494949;
    font-family: 'NoContinue';
    text-decoration: underline;
    font-weight: normal;
    word-spacing: 120px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}
.botaoSignin{
    background-color: #494949;
    border: none;
    padding: 5px;
    width: 60%;
    border-radius: 10px;
    font-family: 'ColdWarm';
    letter-spacing: 1.5px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    
}
.botaoSignin:hover{
    background-color: #00b94b;
    transition: 0.8s ease-in-out;
}
.botaoSignin:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.botaoSignin:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #00b94b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.8s ease-in-out 0s;
}
.cttrBlur{
    width: 70%;
    height: 70%;
    min-width:800px;
    min-height:800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(../img/ct-tr.png);
    background-position: center;
    background-size: cover;
}
.forgot{
    font-family: "Markazi";
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(240, 240, 240, 0.878);
    position: absolute;
    top: 86%;
    left: 64%;
}
#inputConfirm{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
}
.inputEmail{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    color: white;
}
.inputEnter{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%,-50%);
    filter: saturate(0%);
    transition: 0.5s;
}
.inputEnter:hover{
    transition: 0.5s ease-out;
    width: 140px;
    height: 140px;
    filter: saturate(100%);
}
#inputNewPassword{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    color: white;
}
.inputSteam{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    color: white;
}
#inputPass{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    width: 90%;
    color: white;
}
.inputUser{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 25px;  
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2px;
    width: 90%;
    color: white;
}
.logoCsup{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.6;
    filter: blur(2px);
}
#register{
    display: none;
}
.remember{
    font-family: 'Markazi';
    position:absolute;
    top: 79%;
    left: 67.5%;
    color: rgba(240, 240, 240, 0.878);
}
.rememberFont{
    font-size: 18px;
}
#show{
    position: absolute;
    left: 83%;
    top: 55%;
    opacity: 60%;
    transition: 0.5s;
}
#show:hover{
    -webkit-filter: drop-shadow(5px 0px 2px #00b94b);
    filter: drop-shadow(0px 0px 2px #00b94b);
    transition: 0.5s;
}
#showOn{
    width: 30px;
    height: 30px;
    cursor: default;
}
#showOff{
    width: 30px;
    height: 30px;
    cursor: default;
}
.telaLogin{
    background-color: rgba(0, 0, 0, 0.8);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0px 0px 20px 20px;
    border-radius: 15px;
    color: white;
}


