/*STYLE DE COMPONENTES*/
    * {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    @font-face {
        font-family: myFirstFont;
        src: url(../fontes/Cold\ Warm.otf);
    }


    @keyframes neon {
        from{
            filter: drop-shadow(0 0 0 #ffffff00);
        }
        to{
            filter: drop-shadow(0 0 8px var(--cor-neon));
        }
    }
    
    /*STYLE BACKGROUND*/
    body {
        background-color: black;
        font-family: myFirstFont;
        margin-bottom: 250px;
    }
    main{
        background-image: url("../img/backfround3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    /*STYLE DO HEADER*/
        /*HEADER*/
        .header-container { 
            display: grid;
            align-items: flex-end;
            grid-gap: 150px;
            grid-template-columns: repeat(3, 1fr);
            padding-top: 50px;
            padding-bottom: 15px;
            margin: 0 180px;
            color: #FFF;
        }
            .header-container .header-logo {
                height: 150px;
                transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
            }
            .header-container .header-logo:hover{
                transform:scale(1.01,1.01);
            }
        
            .header-container ul.header-menu {
                display: flex;
                justify-content: center;
            }
        
            .header-container ul.header-menu li a{
                font-weight: bold;
                font-size: 30px;
                padding: 0 20px;
                letter-spacing: 2px;
                color: #FFF;
                text-decoration: none;
                transition: all 0.4s cubic-bezier(0.2, 0.84, 0.44, 1);
            }
            
            .header-container ul.header-menu li a:hover{        
                border-radius: 5px;
                background: #424242;
                transform:scale(1.04,1.04);
            }
        
            .header-container .header-login-container {
                display: flex;
                align-items: center;
                align-self: center;
                justify-self: end;
            }
        
                .header-container .header-login-container img {
                    height: 70px;
                    padding-right: 20px;
                }
        
                .header-container .header-login-container p {
                    font-size: 30px;
                }
        
                .header-container .header-login-container .nickname {
                    color: #777;
                }
        
                .header-container .header-login-container .saldo {
                    color: #54ce54;
                }

                .header-logo{
                    --cor-neon: #fff;
                    animation: neon 3s alternate infinite ease-in-out;
                }

    /*STYLE DO CARROSSEL*/
    .container-carrossel{
        height: auto;
        display: flex;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
    }
        .container-carrossel figure#card{
            background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.223), rgba(190, 0, 0, 0.938));
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.562);
            padding: 15px;          
            border-radius: 15px;
            gap: 20px;
            height: 180px;
        }
            
                .container-carrossel figure#card .weapon{                
                    filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
                    height: 100px; 
                    padding: 10%;
                    padding-block-end: 0;            
                }
            
                .container-carrossel figure#card .legenda{
                    color: white;
                    line-height: 1.6;
                    padding: 5px;
                    filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
                    letter-spacing: 2px;
                    align-self: flex-end;
                }


        /*TITLE*/
            h1 {
                color:#00b94b;
                font-size: 60px;
                text-align: center;
                padding: 60px;
                letter-spacing: 5px;
            }

/*STYLE DO INDEX*/

/*STYLE DO LOGIN*/

/*STYLE DO INVENTARIO*/
.caixa {
    border: 0,5px solid rgba(49, 49, 49, 0.644);
    box-shadow: 0 0 4px 4px rgb(0, 0, 0);
    border-radius: 25px;
}

.container-rank {    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgbal(255,255,255,0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(60px);
    width: 800px;
    height: 400px;
    margin: auto; 
    gap: 50px;
    padding: 50px;
}

.subname{
    color:rgb(116, 116, 116);
}

.container-rank figure.card{
    display: grid;   
    position: relative;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.223), rgba(190, 0, 0, 0.938));
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,5));
    padding: 15px;
    border-radius: 15px;
    transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
    gap: 20px;
}
    
        .container-rank figure.card .weapon{                
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
            height: 100px;
            padding: 10%;
            padding-block-end: 0;            
        }
    
        .container-rank figure.card .legenda{
            color: white;
            line-height: 1.6;
            padding: 5px;
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
            letter-spacing: 2px;
            align-self: flex-end;
        }
        
        
    .container-rank figure.card:nth-child(2){
        font-size: 20px;
        align-self: flex-start;
        height: 250px;
        width: 200px;
        animation: neon 3s alternate infinite ease-in-out;
        --cor-neon: rgb(190, 0, 0);
    }

.container-rank figure.card:hover{
    transform:scale(1.04,1.04);
}

.container-inventario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgbal(255,255,255,0.1); */
    backdrop-filter: blur(20px);
    /* -webkit-backdrop-filter: blur(10px); */
    width: 1020px;
    margin: auto;
    margin-top: 100px; 
    gap: 20px;
    padding: 30px;
}

.container-inventario figure.card{
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(190, 0, 0, 0.938));
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,5));
    padding: 7px;
    border-radius: 15px;
    transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
    height: 220px;
}

    .container-inventario figure.card .weapon{                
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
        height: 110px;
        padding: 10PX;
        /* padding-block-end: 0;  */           
    }

    .container-inventario figure.card .legenda{
        color: white;
        line-height: 1.6;
        padding: 5px;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
        letter-spacing: 2px;
        align-self: flex-end;
    }


    .container-inventario figure.card:hover{
        transform:scale(1.03,1.03);
    }





/*STYLE DO SHOP*/

/*STYLE DO PERFIL*/
