/*STYLE DE COMPONENTES*/
    * {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    @font-face {
        font-family: myFirstFont;
        src: url(../fontes/Cold\ Warm.otf);
    }


    @keyframes neon {
        from{
            filter: drop-shadow(0 0 1px var(--cor-neon));
        }
        to{
            filter: drop-shadow(0 0 8px var(--cor-neon));
        }
    }

    .page-wrapper {
        max-width: 1500px;
        margin: auto;
        padding: 0 40px;
    }


    /* SCROLL*/
    /* LARGURA */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* FUNDO */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0); 
        border-radius: 10px;
    }
   
     /* BARRA */
    ::-webkit-scrollbar-thumb {
      background: rgb(117, 117, 117); 
      border-radius: 10px;
    }
  
    /* BARRA on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(156, 156, 156); 
    }

        /*SCROLL CARROSSEL*/

        .container-carrossel::-webkit-scrollbar{
            height: 10px;
        }
    

    /* "CARDS" */

    figure.card:hover, figure.big-card:hover{
        transform:scale(1.03,1.03);
    }
    
    figure.card, figure.big-card{
        background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(190, 0, 0, 0.938));
        filter: drop-shadow(0px 10px 10px rgba(0,0,0,5));
        padding: 7px;
        border-radius: 15px;
        transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
    }
        figure.card .weapon{                
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
            height: 100px;
            padding: 10PX;
            padding-block-end: 0;            
        }
        figure.card .legenda, figure.big-card .legenda{
            color: white;
            line-height: 1.6;
            padding: 5px;
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
            letter-spacing: 2px;
            align-self: flex-end;
        }

    .caixa {
        border: 0,5px solid rgba(49, 49, 49, 0.644);
        box-shadow: 0 0 4px 4px rgb(0, 0, 0);
        border-radius: 25px;
        background-color: rgba(36, 36, 36, 0.878);
    }

    /*STYLE BACKGROUND*/
    body {
        background-color: black;
        font-family: myFirstFont;
        margin-bottom: 250px;
    }
    main{
        background-image: url("../img/backfround3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }    
    
    /*STYLE DO HEADER*/
        /*HEADER*/        
        .header-container { 
            display: grid;
            align-items: flex-end;
            grid-template-columns: repeat(3, 1fr);
            padding-top: 50px;
            padding-bottom: 15px;
        }

            .header-container .header-logo {
                height: 70px;
                transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
                padding-bottom: 5px;
            }
            .header-container .header-logo:hover{
                transform:scale(1.01,1.01);
            }
        
            .header-container ul.header-menu {
                display: flex;
                justify-content: center;
            }
        
            ul.header-menu > li a{
                padding: 0 10px;
                font-size: 30px;
                letter-spacing: 2px;
                color: #777;
                text-decoration: none;
                text-align: center;
                transition: all 0.4s cubic-bezier(0.2, 0.84, 0.44, 1);
            }
            
            ul.header-menu li a:hover{
                color: #FFF;
                border-radius: 5px;
                background: #ffffff52;
            }

            .submenu{
                background-color: rgb(0, 0, 0);
                border-radius: 20px;
                display: none;
                position: absolute;
                z-index: 100;
                list-style: none;
                left: 10px;
                margin: 0;
                padding: 0;
            }
            .with-submenu {
                position: relative;
                display: inline-block;
            }
            
            .with-submenu:hover .submenu {
                display: block;
            }

            ul.header-menu li .submenu a{
                color: #777;
                font-size: 20px;
            }
            ul.header-menu li .submenu a:hover{
                color: #FFF;
                font-size: 21px;
            }
            
            .submenu > li {
                padding: 1em 1em;
                transition: 0.3s all linear;
                display: block;
                line-height: 0%;
            }
        
            .header-container .header-login-container {
                display: flex;
                align-items: center;
                align-self: center;
                justify-self: end;
                padding-bottom: 5px;
            }
            .header-container .header-login-container a{
                text-decoration: none;
            }
        
                .header-container .header-login-container img {                    
                    height: 70px;
                    padding-right: 20px;
                    filter: opacity(50%);
                }
                .header-container .header-login-container img:hover{
                    filter: opacity(90%);
                }
        
                .header-container .header-login-container p {
                    font-size: 30px;
                }
        
                .nickname {
                    color: #777;
                }
                .nickname:hover {
                    color: rgb(168, 166, 166);
                }
        
                .saldo {
                    list-style: none;
                    color: #54ce54;
                }

                .header-logo{
                    --cor-neon: rgba(255, 255, 255, 0.644);
                    animation: neon 3s alternate infinite ease-in-out;
                }

    /*STYLE DO CARROSSEL*/
    .container-carrossel{
        overflow-x: scroll;
        display: flex;
        transition: transform 0.4s;
        transform: translateX(0);        
        background: linear-gradient(-90deg, #000 0.5%, transparent 20%);
    }
    #atual{
        margin-left: 0;
        transition: all 2s;
    }

    /*TITLE*/
        h1 {
            font-weight: normal;
            color:#00b94b;
            font-size: 60px;
            text-align: center;
            padding: 50px;
            --cor-neon: rgba(0, 255, 98, 0.514);
            animation: neon 3s alternate infinite ease-in-out;
        }

.container-roleta{
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    display:flex;
    margin-top: 20px;
    justify-content: center;
}

.primaria{
    z-index: 1;
    backdrop-filter: blur(50px);
    height: 500px;
    width: 500px;
}

.secundaria{
    backdrop-filter: blur(50px);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skin-jogador {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.skin-loja {
    background-color: rgb(43, 59, 56);
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.skin-jogador img, .skin-loja img {
    width: 280px;
    margin: auto;
}

.skin-jogador p, .skin-loja p {
    color: #fff;
    font-size: 25px;
}

.botao-roleta-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.botao-roleta-principal button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f7f7f711;
    border-radius: 50%;
    font-size: 60px;
    border: 0;
    font-family: url(../fontes/Cold\ Warm.otf);
    font-family: myFirstFont;
    --cor-neon: rgb(0, 255, 98);
    animation: neon 3s alternate infinite ease-in-out;
    cursor: pointer;
}

.lista-inventarios {
    display: flex;
    justify-content: space-between;
}

.lista-inventarios .caixa {
    width: 40%;
}
.meus-itens{
    margin-right: 10px;
}

.ordenador{

}

h3, .header{
    font-weight: normal;
    color:#00b94b;
    font-size: 30px;
    text-align: center;
    --cor-neon: rgba(0, 255, 98, 0.514);
    animation: neon 3s alternate infinite ease-in-out;
}

/*STYLE DO LOGIN*/

/*STYLE DO INVENTARIO*/


.container-rank {    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgbal(255,255,255,0.1);
    width: 800px;
    height: 400px;
    margin: auto; 
    gap: 50px;
    padding: 50px;
}

.subname{
    color:rgb(116, 116, 116);
}

.container-rank figure.card{
    display: grid;   
    position: relative;
    gap: 20px;    
}
    .container-rank figure.card:nth-child(2){
        font-size: 20px;
        align-self: flex-start;
        height: 250px;
        width: 200px;
        animation: neon 3s alternate infinite ease-in-out;
        --cor-neon: rgb(190, 0, 0);
    }

.container-rank figure.card:hover{
    transform:scale(1.04,1.04);
}

.container-inventario{
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 100px; 
    padding: 50px;
}

.container-inventario .header {
    display: flex;
    justify-content: space-between;
}
.container-inventario .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 29px;
    overflow-y: scroll;
}



/*STYLE DO SHOP*/
.header-shop{
    align-items: flex-end;
    /* grid-gap: 55px; */
    padding-top: 10px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 30px;
}
    .header-shop .loja{
        padding: 30px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    .header-shop .caixaHeader{
        display: flex;
        justify-content: center;
    }

    .header-shop .selects{
        display: flex;
        justify-content: center;
        align-items: center;    
        font-size: 30px;
        gap: 50px;
        border-radius: 1px;
        height: 30px;
        width: 1250px;
        padding-bottom: 15px;
    }
    
    .header-shop .selects li{
        justify-content: center;
        margin: 10px;
        width: 60px;
        height: 20px;
        
    }

    .header-shop .selects li a{
        padding: 0 20px;
        text-decoration: none;
        color: rgb(116, 116, 116);
        transition: all 0.4s cubic-bezier(0.2, 0.84, 0.44, 1);
    }

    .header-shop .selects li a:hover{
        color: #FFF;
        border-radius: 5px;
        background: #ffffff52;
    }
/*STYLE DO PERFIL*/

#profile{    
    width: 1000px;
    height: 1000px;
    margin: auto;    
    color: #777;
    font-size: 30px;
}

#left{
    width: 400px;
    height: 1000px;
    margin-left: 100px;
}


#photo{
    width: 300px;
    border-radius: 50%;
    margin-top: 100px;
    filter: opacity(30%);

}
#photo:hover{
    filter: opacity(60%);

}

#data{
    margin-top: 50px;
    margin-bottom: 50px;
}

#reset{
    margin-top: 50px;
    margin-bottom: 50px;
}