/*STYLE DE COMPONENTES*/
    * {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    @font-face {
        font-family: myFirstFont;
        src: url(../fontes/Cold\ Warm.otf);
    }


    @keyframes neon {
        from{
            filter: drop-shadow(0 0 1px var(--cor-neon));
        }
        to{
            filter: drop-shadow(0 0 8px var(--cor-neon));
        }
    }

    /* "CARDS" */

    figure.card:hover{
        transform:scale(1.03,1.03);
    }
    
    figure.card{
        background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(190, 0, 0, 0.938));
        filter: drop-shadow(0px 10px 10px rgba(0,0,0,5));
        padding: 7px;
        border-radius: 15px;
        transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
        height: 220px;
    }
        figure.card .weapon{                
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
            height: 100px;
            padding: 10PX;
            padding-block-end: 0;            
        }
        figure.card .legenda{
            color: white;
            line-height: 1.6;
            padding: 5px;
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,5));
            letter-spacing: 2px;
            align-self: flex-end;
        }

    .caixa {
        border: 0,5px solid rgba(49, 49, 49, 0.644);
        box-shadow: 0 0 4px 4px rgb(0, 0, 0);
        border-radius: 25px;
        backdrop-filter: blur(20px);
    }

    /*STYLE BACKGROUND*/
    body {
        background-color: black;
        font-family: myFirstFont;
        margin-bottom: 250px;
    }
    main{
        background-image: url("../img/backfround3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }    
    
    /*STYLE DO HEADER*/
        /*HEADER*/        
        .header-container { 
            display: grid;
            align-items: flex-end;
            grid-gap: 150px;
            grid-template-columns: repeat(3, 1fr);
            padding-top: 50px;
            padding-bottom: 15px;
            margin: 0 180px;
        }

            .header-container .header-logo {
                height: 150px;
                transition: all 0.6s cubic-bezier(0.2, 0.84, 0.44, 1);
            }
            .header-container .header-logo:hover{
                transform:scale(1.01,1.01);
            }
        
            .header-container ul.header-menu {
                display: flex;
                justify-content: center;
            }
        
            ul.header-menu > li a{
                font-size: 30px;
                padding: 0 20px;
                letter-spacing: 2px;
                color: #777;
                text-decoration: none;
                transition: all 0.4s cubic-bezier(0.2, 0.84, 0.44, 1);
                list-style: none;
                position: relative;
                text-align: center;
            }
            
            ul.header-menu li a:hover{
                color: #FFF;
                border-radius: 5px;
                background: #ffffff52;
            }

            .submenu{
                display: none;
                position: absolute;
                z-index: 100;
                list-style: none;
                left: 10px;
                margin: 0;
                padding: 0;
            }
            .with-submenu {
                position: relative;
                display: inline-block;
            }
            
            .with-submenu:hover .submenu {
                display: block;
            }

            ul.header-menu li .submenu a{
                color: #777;
                font-size: 20px;
            }
            ul.header-menu li .submenu a:hover{
                color: #FFF;
                font-size: 21px;
            }
            
            .submenu > li {
                padding: 1em 1em;
                transition: 0.3s all linear;
                display: block;
                line-height: 0%;
            }
        
            .header-container .header-login-container {
                display: flex;
                align-items: center;
                align-self: center;
                justify-self: end;
            }
            .header-container .header-login-container a{
                text-decoration: none;
            }
        
                .header-container .header-login-container img {                    
                    height: 70px;
                    padding-right: 20px;
                    filter: opacity(50%);
                }
                .header-container .header-login-container img:hover{
                    filter: opacity(90%);
                }
        
                .header-container .header-login-container p {
                    font-size: 30px;
                }
        
                .header-container .header-login-container .nickname {
                    color: #777;
                }
                .header-container .header-login-container .nickname:hover {
                    color: rgb(168, 166, 166);
                }
        
                .header-container .header-login-container .saldo {
                    list-style: none;
                    color: #54ce54;
                }

                .header-logo{
                    --cor-neon: rgba(255, 255, 255, 0.644);
                    animation: neon 3s alternate infinite ease-in-out;
                }

    /*STYLE DO CARROSSEL*/
    .container-carrossel{
        height: auto;
        width: 500px;
        overflow: hidden;
        display: flex;
        transition: transform 0.4s;
        transform: translateX(0);        
    }

    .container-carrossel:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(-90deg, #000000 5%, transparent 40%);
    }

        #atual{
            margin-left: 0;
            transition: all 2s;
        }
        .container-carrossel figure.card{
            height: 180px;
        }

        /*TITLE*/
            h1 {
                font-weight: normal;
                color:#00b94b;
                font-size: 60px;
                text-align: center;
                padding: 60px;
                --cor-neon: rgba(0, 255, 98, 0.514);
                animation: neon 3s alternate infinite ease-in-out;
            }

/*STYLE DO INDEX*/
.container-roleta{
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    display:flex;
    height: 700px;
    margin-top: 20px;
    justify-content: center;
}

.primaria{
    backdrop-filter: blur(50px);
    height: 700px;
    width: 700px;
}

.secundaria{
    backdrop-filter: blur(50px);
    height: 500px;
    width: 500px;
}

.index{
    display:flex;
    /* align-items: center;
    margin: 0 auto; */
    justify-content: start;
    gap: 100px;
}

.index .header{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.meus-itens{
    margin-right: 10px;
}

.ordenador{

}

h3, .header{
    font-weight: normal;
    color:#00b94b;
    font-size: 30px;
    text-align: center;
    --cor-neon: rgba(0, 255, 98, 0.514);
    animation: neon 3s alternate infinite ease-in-out;
}






/*STYLE DO LOGIN*/

/*STYLE DO INVENTARIO*/


.container-rank {    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgbal(255,255,255,0.1);
    width: 800px;
    height: 400px;
    margin: auto; 
    gap: 50px;
    padding: 50px;
}

.subname{
    color:rgb(116, 116, 116);
}

.container-rank figure.card{
    display: grid;   
    position: relative;
    gap: 20px;    
}
    .container-rank figure.card:nth-child(2){
        font-size: 20px;
        align-self: flex-start;
        height: 250px;
        width: 200px;
        animation: neon 3s alternate infinite ease-in-out;
        --cor-neon: rgb(190, 0, 0);
    }

.container-rank figure.card:hover{
    transform:scale(1.04,1.04);
}

/* SCROLL BAR */
.container-inventario::-webkit-scrollbar{
    width: 0;
}

.container-inventario{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1030px;
    height: 700px;
    margin: auto;
    margin-top: 100px; 
    gap: 29px;
    padding: 50px;
    overflow-y: scroll;
}




/*STYLE DO SHOP*/
.header-shop{
    align-items: flex-end;
    /* grid-gap: 55px; */
    padding-top: 10px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 30px;
}
    .header-shop .loja{
        padding: 30px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    .header-shop .caixaHeader{
        display: flex;
        justify-content: center;
    }

    .header-shop .selects{
        display: flex;
        justify-content: center;
        align-items: center;    
        font-size: 30px;
        gap: 50px;
        border-radius: 1px;
        height: 30px;
        width: 1250px;
        padding-bottom: 15px;
    }
    
    .header-shop .selects li{
        justify-content: center;
        margin: 10px;
        width: 60px;
        height: 20px;
        
    }

    .header-shop .selects li a{
        padding: 0 20px;
        text-decoration: none;
        color: rgb(116, 116, 116);
        transition: all 0.4s cubic-bezier(0.2, 0.84, 0.44, 1);
    }

    .header-shop .selects li a:hover{
        color: #FFF;
        border-radius: 5px;
        background: #ffffff52;
    }
/*STYLE DO PERFIL*/
